.documentacao{
    display: flex;
    text-align: justify;
}
.documentacao img {
    width: 75%;
    margin-left: 10%;
    margin-top: 10%;
}
.info{
    width: 50%;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.info p {
    font-size: 24px;
}
.info h1 {
    font-size: 32px;
}
.info div{
    margin-bottom: 2%;
}